
@import url("../css/fonts.css");

html, body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}


.name#header{
    font-family: Livvic;
    font-size: 1.8rem;
    padding: 2rem 2rem;
    top: 0;
    transition: 0.2s;
    width: 90%;
    margin: auto;
    clear: both;
    background-color: white;
}

nav{
    margin: auto;
    margin-top: 5rem;
    width: max-content;
    width: 80%;
}

.nav-items{
    list-style-type: none;
    display: flex;
    padding: 0;
    font-family: Abel;
    justify-content: center;
}

.nav-items li{
    padding: 1rem 1rem 1rem 1rem;
}

.nav-items li:hover{
    text-decoration: underline;
}

.my-photo{
    margin-bottom: 50rem;
    width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.my-photo img{
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
}


.about-me{
    width: 60%;
    margin: 0 auto 5rem auto;
    min-height: 100vh;
    font-family: Abel;
    padding-top: 15vh;
}

.about-me .title{
    font-family: Abel;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.about-me .information{
    font-family: Abel;
}

.about-me .information .skill-list{
    list-style-type: circle;
}

.projects{
    width: 60%;
    margin: 0 auto 5rem auto;
    min-height: 100vh;
    font-family: Abel;
    padding-top: 15vh;
}

.footer{
    text-align: center;
    font-family: Abel;
    min-height: 10vh;
}

.my-contact{
    width: 60%;
    margin: 0 auto 5rem auto;
    min-height: 100vh;
    font-family: Abel;
    padding-top: 15vh;
    text-align: center;
}

.my-contact .title{
    font-family: Abel;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.social-media{
    text-align: center;
    width: max-content;
    margin: auto;
}

.contact-list{
    list-style-type: none;
    display: table; 
    padding: 0;
}

.contact-list li{
    display: table-cell;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

.projects .title{
    font-family: Abel;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.project-container{
    padding: 0;
    margin: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-top: 5rem;
    margin: 0;
}

.column{
    width: 30px;
    height: 30rem;
    flex: 32.5%;
    padding: 0 0;
    display: flex;
}

a .project-bullet{
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-width: 1px;
    margin: auto;
    box-shadow: 4px 4px 4px 4px #888888;
}

.project-img{
    flex: 5;
    overflow: hidden;
}

.project-img img{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.project-name{
    flex: 2;
    text-align: center;
    margin-top: 2rem;
    font-family: Abel;
}

.project-description{
    width: 90%;    
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: Abel;
}

@media only screen and (max-width: 600px) {
    .column {
      flex: 100%;
    }

    html, body{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    .my-photo{
        width: 80%;
    }
    .my-contact{
        width: 80%;
    }
    .about-me{
        width: 80%;
    }
  }

