*, body, html, a {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.topic {
    text-align: left;
    margin: 5rem 0 1rem 0;
    font-size: 1.5rem;
}

a { 
    color: #0071d8;
}

.my-name {
    text-align: center;
    margin-top: 5rem;
    font-size: larger;    
}

.navigation {
    text-align: center;
}

.navigation div {
    display: inline-block;
    margin-top: 1rem;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.about-me-description { 
    flex: 1;
    display: flex;
    text-align: justify;
}

.profile-image {
    flex: 1;
    text-align: center;
    height: 18rem;
    width: 18rem;
    margin-left: 1rem;
}

.profile-image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 1rem;
}

.profile-about-me {
    flex: 5;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-content: center;
}

.social-media-links {
    margin-top: 1rem;
    flex: 1; 
    text-align: center;
}

.social-media-links a{
    display: inline-block;
}

.technology-stack {
    margin: 2rem 0 2rem 0;
}

li {
    margin-left: 1rem;
    font-size: 0.9rem;
    list-style: circle;
}

.project {
    display: flex;
    margin: 1rem 0 0 0;
    flex-wrap: wrap;
}

.project-image {
    flex: 1;
    height: inherit;
    width: inherit;
}

.project-image img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.project-description {
    flex: 5;
    margin-left: 1rem;
}

.project-description #key {
    font-size: 0.9rem;
    color: darkgrey;
}

.project-description #year {
    font-size: 0.9rem;
}

.update {
    display: flex;
    margin-bottom: 0.2rem;
}

.update-year {
    flex: 2;
}

.update-description { 
    flex: 6;
}

footer {
    font-size: 0.7rem;
    text-align: center;
}

@media screen and (max-width:400px) {
    
    .my-name {
        font-size: 1.1rem;
    }

    .about-me {
        margin-top: 0;
        padding-top: 0;
    }

    .navigation {
        font-size: 0.8rem;
    }

    .about-me {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .container {
        width: 80%;
        padding: 0;
    }

    .profile-image {
        margin-left: 0;
        padding-left: 0;
    }

    .social-media-links {
        font-size: 0.8rem;
        margin-bottom: 0.8rem
    }

}

@media screen and (max-width:900px) {

    .about-me {
        margin-top: 0;
    }
    
    .container {
        width: 80%;
    }

}

@media screen and (max-width:1200px) {
    
    .container {
        width: 80%;
    }

}