*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9), url('images/header.jpg'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
    height: 90px;
    justify-content: left;
    align-items: center;
    color: white;
    box-shadow: 3px 3px 5px 5px #CCC;
}
footer{
    text-align: "center";
    height: 100px;
    line-height: 100px;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    text-align: center;
    color: white;
}
.heading{
    font-family: 'Noto Sans HK', sans-serif; 
    text-align: center;
    color: gray;
    margin: 3% 0 3% 0;
}
.wrapper{
    width: 50%;
    height: min-content;
    margin: auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.info p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.8rem;
    text-align: left;
}
img{
    height: 12rem;
    width: 17rem;
}
.project{
    width: 20rem;
    height: auto;
    margin-bottom: 5rem;
    text-align: center;
}
article{
    width: 50%;
    margin: 0 auto 50px auto;
    text-align: justify;
    font-size: 1.1rem;
}
.explain-images{
    text-align: center;
    margin: 80px auto 80px auto;
}
.about-me{
    display: flex;
    width: 90%;
    height: max-content;
    margin: auto;
    flex-direction: row;
    font-family: 'Noto Sans HK', sans-serif;
}
.img img{
    width: 100%;
    border: solid;
    border-width: 0.1px;
}
@media (max-width: 800px){
    .wrapper{
        width: 80%;
}