*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    display: flex;
    background-color: #0C4D69;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
    height: 90px;
    justify-content: left;
    align-items: center;
    box-shadow: 3px 3px 5px 5px #CCC;
    color: white;
}
footer{
    height: 80px;
    background-color: #0C4D69;
}
.heading{
    font-family: 'Noto Sans HK', sans-serif; 
    text-align: center;
    color: gray;
    margin: 3% 0 3% 0;
}
.wrapper{
    width: 35%;
    height: min-content;
    margin: auto;
    font-family: 'Noto Sans HK', sans-serif;
}
.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.info{
    margin-top: 20px;
    text-align: center;
}
.info h4{
    font-family: 'Noto Sans HK', sans-serif;
    margin-bottom: 10px;
}
.info p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.8rem;
    text-align: justify;
}
.project{
    width: 16rem;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
article{
    width: 50%;
    margin: 0 auto 50px auto;
    text-align: justify;
    font-size: 1.1rem;
}
.explain-images{
    text-align: center;
    margin: 80px auto 80px auto;
}
.about-me{
    display: flex;
    width: 60%;
    height: 22rem;
    margin: auto;
    flex-direction: row;
    font-family: 'Noto Sans HK', sans-serif;
}
.about-me div{
    margin: 20px
}
.img img{
    width: 100%;
    height: 10rem;
}
@media(max-width: 800px){
    .wrapper{
        width: 60%;
    }
}
hr{
    background-color: lightgray;
    height: 2px;
    border: none;
}
@media(max-width: 800px){
    .about-me{
        flex-direction: column;
    }
}